html {
  font-size: 60px;
}

body {
  font-family: 'Arial';
  background: url('images/met-bg.jpg') no-repeat center center / cover;
}

h2 {
  font-family: 'Comic Sans', 'Chalkboard', serif;
  font-weight: bold;
}